*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;
   height: 100vh; 
   overflow: hidden;
   }
 
  
    main{
      overflow:auto;
      padding: 4rem;
      background-color: var(--surface-primary);
    .main-contende{
       max-width: 33rem;
      height: 100%;
      margin-left: auto;
      .back{
        display: flex;
        align-items: center;
        gap: 8PX;
        margin-bottom: 24px;
      }
      h1{
        margin-bottom: 8px;
      }
      p{  margin-bottom: 48px;
        color: var(--text-secondary);
          }
    }}
    aside{
      background-color:var(--surface-secondary);
      padding: 4rem;
      overflow: hidden;
    .aside-contende{
     max-width: 31rem;
      height: 100%;}
    h1{
      font: 600 40px var(--font-famaly);
    }
    p{
      margin-block: 8px 32px;
      color: var(--text-secondary);
    }
    
      
    }
  .info-respo{
    margin-top: 48px;
  }
